.footer {
    text-align: center;
    background-color:   #fdd835;
    padding: 40px;
    opacity: 0.8;
}

.footer a {
    display: inline-block;
    font-size: 40px;
    color: #ed553b;
}

.footer i {
    margin: 0 15px;
}

.footer a:hover {
    color: #000;
}